<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title},~{::script})}">
<head>
<title>Services</title>
</head>
<body>
    <section id="content">
        <h1>Welcome to services page</h1>
        <h2>services offered by SCM</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum dolorem exercitationem omnis provident placeat alias? Hic soluta provident unde rerum velit ea facere nihil voluptatum. Ad doloribus corrupti in asperiores.</p>
    </section>

    <script>
        // Add your JavaScript code here
        console.log("Services Page");
    </script>
</body>
</html>